// Colors
$brand-color: #FE4A49;
$dark-color: #0C1821;
$accent-color: #4392F1;
$light-color: #F4F4F8;

// Spacing (font sizes)
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

